<div *ngIf="blog_entry; else alternative">

  <div class="css-blog-entry-container">

    <div class="css-blog-title"   >{{ blog_entry.m_entry_header}}</div>

    <div class="css-blog-content" >{{ blog_entry.m_entry_text }}</div>

    <div class="css-blog-footer-div">
      <div class="css-blog-footer-date">{{ blog_entry.m_entry_date_string}} {{ blog_entry.m_user_name}}  {{ blog_entry.m_entry_id }} </div>
    </div>
  </div>

</div>

<ng-template #alternative>
   No Blog Entries. Nothing to show.
</ng-template>


