<div>

  <h3>Contact</h3>

  <div *ngIf="showContactForm()">

    <div [formGroup]="myUserForm">


      <div class="form-group">

        <label for="contact_name">Name</label>

        <input id="contact_name" formControlName="contact_name" type="text" class="form-control" placeholder="Name">

        <div *ngIf="contact_name?.touched && contact_name?.invalid" class="alert alert-danger">

          <p *ngIf="contact_name?.errors?.['required']">Subject is required</p>

          <p *ngIf="contact_name?.errors?.['minlength']">Subject is to short. Minlength is {{ contact_name?.errors?.['minlength']?.requiredLength }}</p>

        </div>

      </div>


      <div class="form-group">

        <label for="contact_email">eMail Adress</label>

        <input id="contact_email" formControlName="contact_email" type="text" class="form-control" placeholder="Name">

        <div *ngIf="contact_email?.touched && contact_email?.invalid" class="alert alert-danger">

          <p *ngIf="contact_email?.errors?.['required']">eMail Adress is required</p>

           <p *ngIf="contact_email?.errors?.['notAEmail']"> {{ contact_email?.errors?.['validateMsg'] }}  </p>

          <p *ngIf="contact_email?.errors?.['minlength']">eMail Adress is to short. Minlength is {{ contact_email?.errors?.['minlength']?.requiredLength }}</p>

        </div>

      </div>


      <div class="form-group">

        <label for="contact_subject">Subject</label>

        <input id="contact_subject" formControlName="contact_subject" type="text" class="form-control" placeholder="Message Subject">

        <div *ngIf="contact_subject?.touched && contact_subject?.invalid" class="alert alert-danger">

          <p *ngIf="contact_subject?.errors?.['required']">Subject is required</p>

          <p *ngIf="contact_subject?.errors?.['minlength']">Subject is to short. Minlength is {{ contact_subject?.errors?.['minlength']?.requiredLength }}</p>

        </div>

      </div>

      <div class="form-group">

        <label for="contact_text">Text</label>

        <textarea id="contact_text" formControlName="contact_text" class="form-control" rows="10" placeholder="Message Text"></textarea>

        <div *ngIf="contact_text?.touched && contact_text?.invalid" class="alert alert-danger">

          <p *ngIf="contact_text?.errors?.['required']">Messagetext is required</p>

          <p *ngIf="contact_text?.errors?.['minlength']">Messagetext is to short. Minlength is {{ contact_text?.errors?.['minlength']?.requiredLength }}</p>

        </div>

      </div>

      <button class="btn btn-primary" type="submit" [disabled]="myUserForm.invalid" (click)="onSubmit()">Submit</button>

    </div>

  </div>

  <div *ngIf="showConfirmMessage()">

    <p>Contact wurde verschickt</p>

  </div>

</div>
