<div class="div_margin">

  <h3>New Blog Template Form</h3>

  <form>
    <div class="form-control"><label for="blog_id">ID          </label><input type="text" name="blog_id" class="form-control"></div>
    <div class="form-control"><label for="blog_user">User      </label><input type="text" name="blog_user" class="form-control"></div>
    <div class="form-control"><label for="blog_date">Date      </label><input type="text" name="blog_date" class="form-control"></div>
    <div class="form-control"><label for="blog_subject">Subject</label><input type="text" name="blog_subject" class="form-control"></div>
    <div class="form-control"><label for="blog_text">Text      </label><input type="text" name="blog_text" class="form-control"></div>

    <hr>

    <button class="btn"></button>
  </form>

</div>

