<div>

  <h3>Edit Blog Entry</h3>

  <form #myUserForm="ngForm" (ngSubmit)="ngSubmitMyForm( myUserForm )">

    <div class="form-group"><label for="blog_header">Header</label>

      <input #myVarBlogHeader="ngModel"
             required minlength="5"
             maxlength="150"
             type="text"
             name="blog_header"
             class="form-control"
             [(ngModel)]="blog_entry_copy.m_entry_header"
             placeholder="Header Text">

      <div *ngIf="myVarBlogHeader.touched && myVarBlogHeader.invalid" class="alert alert-danger">
        <p *ngIf="myVarBlogHeader.errors && myVarBlogHeader.errors['required']" >Header is required</p>
        <p *ngIf="myVarBlogHeader.errors && myVarBlogHeader.errors['minLength']" >minlength</p>
        <p *ngIf="myVarBlogHeader.errors && myVarBlogHeader.errors['maxLength']" >maxlength</p>
        <p *ngIf="myVarBlogHeader.errors" >{{ myVarBlogHeader.errors['minLength'] }}</p>

      </div>

    </div>

    <div class="form-group"><label for="blog_text">Text      </label>

      <textarea required
                minlength="5"
                maxlength="32000"
                name="blog_text"
                class="form-control"
                [(ngModel)]="blog_entry_copy.m_entry_text"
                rows="10"
                cols="40"
                placeholder="Blog Text"></textarea>

      <div *ngIf="myVarBlogHeader.touched && myVarBlogHeader.invalid" class="alert alert-danger">
        <p *ngIf="myVarBlogHeader.errors && myVarBlogHeader.errors['required']" >Text is required</p>
        <p *ngIf="myVarBlogHeader.errors && myVarBlogHeader.errors['minLength']" >minlength</p>
        <p *ngIf="myVarBlogHeader.errors && myVarBlogHeader.errors['maxLength']" >maxlength</p>
        <p *ngIf="myVarBlogHeader.errors" >{{ myVarBlogHeader.errors['minLength'] }}</p>

      </div>

    </div>

    <br />

    <button class="btn btn-primary" type="submit" >Submit</button>&nbsp;&nbsp;

  </form>

</div>
