<div>

  <h3>Edit Blog Entry</h3>

  <form #myUserForm="ngForm" (ngSubmit)="ngSubmitMyForm( myUserForm )">

    <div class="form-group"><label for="blog_id">ID          </label><input type="text" name="blog_id" class="form-control" [(ngModel)]="blog_entry_copy.m_entry_id" ></div>

    <div class="form-group"><label for="blog_user">User      </label><input type="text" name="blog_user" class="form-control" [(ngModel)]="blog_entry_copy.m_user_name"  ></div>

    <div class="form-group"><label for="blog_date">Date      </label><input type="text" name="blog_date" class="form-control" [(ngModel)]="blog_entry_copy.m_entry_date_string" ></div>

    <div class="form-group"><label for="blog_header">Header</label>

      <input #myVarBlogHeader="ngModel"
             required minlength="5"
             maxlength="150"
             type="text"
             name="blog_header"
             class="form-control"
             [(ngModel)]="blog_entry_copy.m_entry_header"
             placeholder="Header Text">

      <div *ngIf="myVarBlogHeader.touched && myVarBlogHeader.invalid" class="alert alert-danger">
        <p *ngIf="myVarBlogHeader.errors && myVarBlogHeader.errors['required']" >Header is required</p>
        <p *ngIf="myVarBlogHeader.errors && myVarBlogHeader.errors['minLength']" >minlength</p>
        <p *ngIf="myVarBlogHeader.errors && myVarBlogHeader.errors['maxLength']" >maxlength</p>
        <p *ngIf="myVarBlogHeader.errors" >{{ myVarBlogHeader.errors['minLength'] }}</p>

      </div>

    </div>

    <div class="form-group"><label for="blog_text">Text      </label>

      <textarea required
                minlength="5"
                maxlength="32000"
                name="blog_text"
                class="form-control"
                [(ngModel)]="blog_entry_copy.m_entry_text"
                rows="10"
                cols="40"
                placeholder="Blog Text"></textarea>

      <div *ngIf="myVarBlogHeader.touched && myVarBlogHeader.invalid" class="alert alert-danger">
        <p *ngIf="myVarBlogHeader.errors && myVarBlogHeader.errors['required']" >Text is required</p>
        <p *ngIf="myVarBlogHeader.errors && myVarBlogHeader.errors['minLength']" >minlength</p>
        <p *ngIf="myVarBlogHeader.errors && myVarBlogHeader.errors['maxLength']" >maxlength</p>
        <p *ngIf="myVarBlogHeader.errors" >{{ myVarBlogHeader.errors['minLength'] }}</p>

      </div>

    </div>

    <br />

    <button class="btn btn-primary" type="submit" (click)="setPressedButton( 'save' )"  >Submit</button>&nbsp;&nbsp;

    <button class="btn btn-primary" type="submit" (click)="setPressedButton( 'cancel' )"  >Cancel</button>&nbsp;&nbsp;&nbsp;&nbsp;

    <button class="btn btn-danger"  type="submit" (click)="setPressedButton( 'delete' )" *ngIf="this.isEditExistingBlogEntry()" >Delete</button>&nbsp;&nbsp;&nbsp;&nbsp;

  </form>

</div>
