<div class="css-blog-view-seperator-container">

  <div class="css-blog-view-seperator-div-col1">

      <div *ngIf="entry_count === 0; else div_show_blog_list">

          <p>There are no Blog Entries</p>

      </div>

      <ng-template #div_show_blog_list>

        <p>Number of Blog Entries {{ entry_count }}</p>

         <app-button
          *ngIf="isUserLoggedIn()"
           color="green"
           text="Add Blog Entry"
           (btnClick)="showViewAddBlogEntry()"
         ></app-button>


        <app-blog-detail-short

          *ngFor="let blog_var of blog_vektor"
          [blog_entry]="blog_var"

        >
        </app-blog-detail-short>

      </ng-template>

  </div>
  <div class="css-blog-view-seperator-div-col2">
          <router-outlet></router-outlet>

  </div>
</div>
